[user]
        email = dev@genotrance.com
        name = Ganesh Viswanathan
[credential]
        helper = cache --timeout=2592000
	modalprompt = false
[core]
        autocrlf = input
[alias]
  a = config --get-regexp alias
  b = branch
  bd = branch -d
  bdp = push origin -d
  c = commit -a -m
  cf = clean -fxd
  cl = clone
  cld = clone --depth=1
  co = checkout
  cod = checkout devel
  com = checkout master
  d = diff --word-diff=color
  dt = difftool
  f = fetch upstream
  l = log
  m = merge
  mud = merge upstream/devel
  mum = merge upstream/master
  nim = !./koch boot -d:danger && ./koch tools -d:danger
  pfm = push origin master --force
  pfd = push origin devel --force
  pl = pull
  p = push
  pb = push --set-upstream origin
  ras = remote add upstream
  rhh = reset --hard HEAD
  rhm = reset --hard upstream/master
  rhd = reset --hard upstream/devel
  ri = rebase -i                                           
  rom = rebase origin/master
  rod = rebase origin/devel
  rum = rebase upstream/master
  rud = rebase upstream/devel
  s = status
  ud = !git fetch upstream && git reset --hard upstream/devel && git push
  um = !git fetch upstream && git reset --hard upstream/master && git push

[credential "helperselector"]
	selected = store
